body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1241px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u531_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1241px;
  height:2106px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u531 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1241px;
  height:2106px;
  display:flex;
}
#u531 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u531_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u532_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:448px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u532 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:407px;
  width:392px;
  height:448px;
  display:flex;
}
#u532 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u532_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u533_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:240px;
}
#u533 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:1603px;
  width:240px;
  height:240px;
  display:flex;
}
#u533 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u533_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u534_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u534 {
  border-width:0px;
  position:absolute;
  left:481px;
  top:1525px;
  width:21px;
  height:20px;
  display:flex;
}
#u534 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u534_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u535_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u535 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:1529px;
  width:113px;
  height:16px;
  display:flex;
}
#u535 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u535_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u536_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u536 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:1571px;
  width:591px;
  height:16px;
  display:flex;
}
#u536 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u536_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u537_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u537 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:1637px;
  width:591px;
  height:32px;
  display:flex;
}
#u537 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u537_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u538 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u539_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u539 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:1692px;
  width:30px;
  height:40px;
  display:flex;
}
#u539 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u539_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u540_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u540 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:1699px;
  width:8px;
  height:16px;
  display:flex;
  color:#FFFFFF;
}
#u540 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u540_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u541 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u542_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u542 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:1755px;
  width:30px;
  height:40px;
  display:flex;
}
#u542 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u542_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u543_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u543 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:1762px;
  width:8px;
  height:16px;
  display:flex;
  color:#FFFFFF;
}
#u543 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u543_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u544 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u545_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u545 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:1628px;
  width:30px;
  height:40px;
  display:flex;
}
#u545 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u545_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u546_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u546 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:1635px;
  width:8px;
  height:16px;
  display:flex;
  color:#FFFFFF;
}
#u546 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u546_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u547 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u548_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u548 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:1819px;
  width:30px;
  height:40px;
  display:flex;
}
#u548 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u548_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u549_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u549 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:1826px;
  width:8px;
  height:16px;
  display:flex;
  color:#FFFFFF;
}
#u549 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u549_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u550_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u550 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:1699px;
  width:591px;
  height:16px;
  display:flex;
}
#u550 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u550_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u551_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u551 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:1762px;
  width:591px;
  height:32px;
  display:flex;
}
#u551 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u551_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u552 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u553_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u553 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:1564px;
  width:30px;
  height:40px;
  display:flex;
}
#u553 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u553_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u554_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u554 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:1571px;
  width:8px;
  height:16px;
  display:flex;
  color:#FFFFFF;
}
#u554 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u554_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u555 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u556_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u556 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:1578px;
  width:30px;
  height:40px;
  display:flex;
}
#u556 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u556_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u557_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u557 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:1585px;
  width:8px;
  height:16px;
  display:flex;
  color:#FFFFFF;
}
#u557 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u557_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u558 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u559_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u559 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:1608px;
  width:30px;
  height:40px;
  display:flex;
}
#u559 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u559_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u560_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u560 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:1615px;
  width:8px;
  height:16px;
  display:flex;
  color:#FFFFFF;
}
#u560 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u560_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u561 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u562_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u562 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:1608px;
  width:30px;
  height:40px;
  display:flex;
}
#u562 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u562_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u563_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u563 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:1615px;
  width:8px;
  height:16px;
  display:flex;
  color:#FFFFFF;
}
#u563 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u563_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u564 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u565_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u565 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:1608px;
  width:30px;
  height:40px;
  display:flex;
}
#u565 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u565_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u566_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u566 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:1615px;
  width:8px;
  height:16px;
  display:flex;
  color:#FFFFFF;
}
#u566 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u566_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u567_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:240px;
}
#u567 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:499px;
  width:240px;
  height:240px;
  display:flex;
}
#u567 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u567_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u568 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u569_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u569 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:1608px;
  width:30px;
  height:40px;
  display:flex;
}
#u569 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u569_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u570_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u570 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:1615px;
  width:8px;
  height:16px;
  display:flex;
  color:#FFFFFF;
}
#u570 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u570_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u571_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u571 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:1827px;
  width:591px;
  height:16px;
  display:flex;
}
#u571 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u571_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u572_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u572 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:600px;
  width:140px;
  height:40px;
  display:flex;
}
#u572 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u572_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u573_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:1037px;
}
#u573 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:356px;
  width:488px;
  height:1037px;
  display:flex;
}
#u573 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u573_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u574 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:549px;
  width:45px;
  height:17px;
  display:flex;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u574 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u574_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u575_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u575 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:549px;
  width:30px;
  height:27px;
  display:flex;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u575 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u575_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u576 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u577_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u577 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:607px;
  width:38px;
  height:17px;
  display:flex;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u577 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u577_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u578 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:607px;
  width:23px;
  height:27px;
  display:flex;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u578 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u578_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u579_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u579 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:148px;
  width:140px;
  height:40px;
  display:flex;
}
#u579 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u579_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u580_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u580 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:200px;
  width:140px;
  height:40px;
  display:flex;
}
#u580 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u580_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u581_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u581 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:148px;
  width:140px;
  height:40px;
  display:flex;
}
#u581 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u581_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u582_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u582 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:200px;
  width:140px;
  height:40px;
  display:flex;
}
#u582 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u582_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u583_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u583 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:168px;
  width:140px;
  height:40px;
  display:flex;
}
#u583 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u583_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u584 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:542px;
  width:30px;
  height:30px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u584 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u584_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u585 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:601px;
  width:30px;
  height:30px;
  display:flex;
}
#u585 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u585_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
